*{
    margin: 0;
    padding: 0;
    /* 清除点击高亮效果  手机可以看到 */
    -webkit-tap-highlight-color: transparent;
    /* 以border开始计算宽度 */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-size: 14px;
    /* sans-serif  这是手机默认的字体样式 */
    font-family: 'Microsoft YaHei' sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
input,textarea{
    border: none;
    resize: none;
    outline: none;
    /* 清除移动设备上的立体效果 */
    -webkit-appearance:none;
}

/* 清除浮动 */
.clearfix::after,.clearfix::before{
    content: ' ';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

/* [class*='icon-']{

} */